/*
Theme Name: BeerGarden
Theme URI: http://lukejkw.wordpress.com
Author: Luke Warren s3409172
Author URI: http://lukejkw.wordpress.com
Description: A theme for use specifically on the BeerGarden website
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: beergarden
Tags: beer, woocommerce

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

BeerGarden is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	font-size: 18px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

select {
    border: 1px solid #ccc;
    height: 30px;
    border-radius: 4px;
    font-size: 13px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: #98684B;
}

a:hover,
a:focus,
a:active {
	color: white;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/


@media screen and (min-width: 37.5em) {
	.main-navigation ul {
		display: inline-block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*----------------------------Custom styles----------------------------------- */
/*
* Font – Rockwellfont from the Serif family.
* Colours – Primary: #98684B, Secondary: #232323, Tertiary: #FFFFFF, Quandary: #F6F6F6
*/

/* ------------------- Main Styles ------------------------------ */

@font-face {
   font-family: rockwell;
   src: url(css/fonts/rockwell.ttf);
}

body{
    background-color: #232323;
	color: #98684B;
    font-family: rockwell;
}

#page, #content {
    color: #98684B;
    
}
#content{
	padding: 0px 20px;
}
a{
    color: #98684B;
}
a:hover{
    color: #ffffff;
    text-decoration: none;
}
h1 {
    background-color: #232323;
    clear: both;
    padding: 10px;
    font-size: 30px;
}

h2{
    margin: 0;
    margin-left: 0;
    padding: 20px;
    padding-bottom: 5px;
    background: #232323;
    /* text-decoration: underline; */
    border-bottom: 2px solid;
    margin-bottom: 20px;
}
h3{
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0;
    border-top: 2px solid;
	font-size: 20px;
}
.nobullets{
    list-style-type: none;
    padding:0; 
    margin:0;
}

a.btn.btn-primary, a.button{
    margin: 0 auto;
    min-width: 100px;
    display: block;
    background-color: #98684B !important;
    border: 0;
	color: white !important;
}
a.btn.btn-primary:hover,a.button:hover{
    background-color: white;
    color: #98684B;
}

/* ------------------- Utils ------------------------------ */
.hide{
    display: none;
}
.left{
    float: left;
}
.right{
    float: right;
}

/* ------------------- Header Nav ------------------------------ */

.navbar-nav li.logo:hover{
    background-color: transparent;
}

#logo img{
    width: 65px;
    margin-top: -15px;
}
.navbar-collapse div{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
	text-align: center;
  background-image: -webkit-linear-gradient(#232323, #232323 60%, transparent 0%, transparent 100%);
background-image: -o-linear-gradient(#232323, #232323 60%, transparent 0%, transparent 100%);
background-image: linear-gradient(#232323, #232323 60%, transparent 0%, transparent 100%);
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #98684B;
	color: white !important;
}

.nav>li.logo>a:focus, .nav>li.logo>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar-nav li a{
    font-size: 25px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
}
.navbar-nav li a:visited, #subnav .subItem a:visited,#subnav a, #subnav div a{
	color: #98684B;
}

#subnav a:hover{
	color: white;	
}
@media (max-width: 768px) {
    .navbar-nav .logo {
        display:none;
    }
    #subnav{
         display:none;
    }
    #banner{
        display:none;
    }
    .navbar-collapse div {
		position: inherit;
  text-align: center;
  background-image: -webkit-linear-gradient(#232323, #232323 100%, transparent 0%, transparent 100%);
background-image: -o-linear-gradient(#232323, #232323 100%, transparent 0%, transparent 100%);
background-image: linear-gradient(#232323, #232323 100%, transparent 0%, transparent 100%);
border-bottom: 2px solid #98684B;
}
    
}

.navbar-nav .logo {
    opacity: 1;
    vertical-align: middle;
}

#subnav{
    width: 100%;
    background-color: #232323;
    padding: 5px;
    padding-left: 30px;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 9;
}

#subnav .subItem{
    display: inline;
    padding-left:30px;
}
#subnav .subItem, #subnav a, #subnav #search-field a{
	font-size: 15px;
}

#subnav #search-field{
    display: inline;
    margin-right: 20px; 
}
#subnav #search-field input{
    border: 0;
    border-radius: 15px;
    padding: 2px;
    padding-left: 15px;
}

#cart{
    margin-right: 20px;
}

#banner img{
	width:100%;
}
/* ------------------- Footer Nav ------------------------------ */
#to-top{
    width:100%;
    background-color: #232323;
    color: #98684B;
    display: block;
    text-decoration: none;
}

#footer{
    width:100%;
    background-color: #232323;
    color: #98684B;
	border-top: 2px solid #98684B;
}

#footer .row .card{
    padding: 20px 20px 20px 60px;
}

/* ------------------- Content ------------------------------ */
section{
    padding-top: 20px;
}
#banner{
    width:100%;
    position: relative;
}

a#down-scroll{
    position: absolute;
    left:50%;
    top:70%;
    margin-left: -30px;
}
#banner #banner-text{
    position: absolute;
    left: 10%;
    right: 10%;
    top: 30%;
}

#banner #banner-text h1{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
	background-color: transparent;
}

#banner #banner-text h2{
    text-align: center;
    font-size: 35px;
    background-color: transparent;
    border: 0;
}

/* Woocommerce overide styles */

.woocommerce .woocommerce-breadcrumb {
    margin: 0 0 1em;
    padding: 0;
    font-size: 1.92em;
    color: #98684B;
}
.woocommerce .woocommerce-breadcrumb a {
    color: #98684B;
}
.woocommerce .woocommerce-breadcrumb a:hover {
    color: #ffffff;
}

.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
    margin: 0px 35px 0em;
    font-size: 12px;
}
.woocommerce ul.products{
    width: 100%;
    background-color: #232323;
    padding: 30px;
    margin-top: -20px;
}
.woocommerce ul.products>li.product {
    min-height: 425px;
    background-color: #232323;
	border: 2px solid #98684B;
    padding: 10px;
    border-radius: 5px;
}
.woocommerce li.product>div{
    color: #98684B !important;
}

.woocommerce ul.products li.product h3 {
    padding: .5em 0;
    margin: 0;
    font-size: 2em;
}

.woocommerce ul.products li.product .price {
    color: white;
    display: block;
    font-weight: 400;
    margin-bottom: .5em;
    font-size: 1.857em;
}

.woocommerce ul.products li.product .button {
    margin-top: 1em;
    font-size: 13px;
	text-align: center;
}

/* Product detail styling */
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: #98684B;
    /* z-index: 2; */
    border-bottom-color: #98684B;
    color: white !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: 1px solid #98684B;
    background-color: #98684B;
    color: white !important;
    font-size: 15px;
}

.woocommerce div.product .woocommerce-tabs .panel {
    background-color: #232323;
	color: 98684B;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
	background-color: #98684B;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: white;
    font-size: 3.25em;
}

.woocommerce div.product form.cart, .woocommerce div.product p.cart {
    margin-bottom: 2em;
    font-size: 15px;
    /* text-align: center; */
}
.woocommerce .quantity .qty {
    width: 3.631em;
    height: 33px;
    text-align: center;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: white;
    color: #98684B;
}